services:
  api:
    build:
      context: ./..
      dockerfile: ./docker/Dockerfile
    env_file:
      - ./../.env
    ports:
      - ${DJANGO_PORT:-8000}:${DJANGO_PORT:-8000}
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy

  cache:
    image: redis:7-alpine
    env_file:
      - ./../.env
    ports:
      - ${REDIS_PORT:-6379}:${REDIS_PORT:-6379}
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  db:
    image: postgres:17-alpine
    env_file:
      - ./../.env
    ports:
      - ${POSTGRES_PORT:-5432}:${POSTGRES_PORT:-5432}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -q -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  worker:
    build:
      context: ./..
      dockerfile: ./docker/Dockerfile
    env_file:
      - ./../.env
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy
