services:
  api:
    image: forex:development
    restart: on-failure
    command: sh scripts/start_api.sh
    env_file:
      - ./../.env
    environment:
      DJANGO_ENV: development
    volumes:
      - ../scripts:/code/scripts
      - ../src:/code/src
      - ../tests:/code/tests

  cache:
    restart: on-failure
    environment:
      REDIS_PORT: 6379
    volumes:
      - redisdata_development:/var/lib/redis/data

  db:
    restart: on-failure
    env_file:
      - ./../.env
    volumes:
      - pgdata_development:/var/lib/postgresql/data

  worker:
    image: worker:development
    restart: on-failure
    command: sh scripts/start_worker.sh
    env_file:
      - ./../.env
    environment:
      DJANGO_ENV: development
    volumes:
      - ../scripts:/code/scripts
      - ../src:/code/src
      - ../tests:/code/tests

volumes:
  pgdata_development:
  redisdata_development:
